version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: dietgen-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
    volumes:
      - dietgen_pgdata:/var/lib/postgresql/data

volumes:
  dietgen_pgdata:
